#imagenTitulo{
    justify-content: center;
    
    
}


#contenido{
    display:flex;
    max-height: 1000px;
    text-align: center;
}

#inputdiv{
    flex-grow: 1;
    border: 5px solid salmon;
    height: 100%;
    

}

#gamediv{
    flex-grow: 6;
    border: 5px solid green;
    height: 100%;

}

#statsdiv{
    flex-grow: 1;
    border: 5px solid aqua;
    height: 100%;
    

}

#textdivinput{
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    
}



body{
    background-image: url(/img/background.png);
    background-size: 100%;
    
}

#tituloJuego{
    margin-left: 50%;

}

#titulo2{
    margin-left: 30%;
    
    width: 200px;
}



#tabla{
    height: auto;
    max-width: 750px;
    display:flex;
    margin:auto;
    text-align: center;
    padding:20px;
}

#taulaGeneral{
    flex-direction: column;
    display:flex;
}

#fila{
    display:flex;
    flex: 1 1 0;
}

.casilla{
    flex: 1 1 0;
    /*
    Es lo mismo que flex-grow: 1 flex-shrink: 1 y flex-basis: 0
    Si uno de los items tuviera grow 2 ocuparía el doble que los demás
    basis es para decirle cuánto de su propio tamaño debe tener en cuenta para repartir el espacio con los otros items dentro del display flex
    */
}

/*Solo afecta a los elementos marcados como img dentro de casilla*/
.casilla > img{
    width:90%; 
    max-height:90%;  
}